<!DOCTYPE html>
<html data-bs-theme="dark" lang="ru">
<head>
    <title></title>
</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary" style="margin: 5px;">
    <div class="container-fluid">
        <div class="navbar-brand  bi-database fs-1" id="navbarBrandCurrentUser"
             style="display: flex; align-items: center;">
            <!--Здесь работает JS JQuery-->
        </div>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <form class="d-flex justify-content-center" th:action="@{/logout}" th:method="POST">
                <button class="btn btn-secondary" type="submit"> Выйти</button>
            </form>
        </li>
    </ul>

</nav>

</body>
</html>
