<!DOCTYPE html>
<html data-bs-theme="dark" lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">


    <title>Пользователи</title>
</head>
<body>
<div th:replace="~{other/navbar.html}"></div>
<!--Модальное окно редактирования-->
<div class="modal fade" id="editModal"
     tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5 bi-pencil-square"
                    id="editModalLabel"> Редактирование данных
                    пользователя</h1>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>
            <div class="modal-body mx-auto">

                <input class="form-control"
                       id="inputIdEditModal"
                       type="number"
                       hidden>
                <label for="inputIdEditModal"></label>


                <div class="form-floating mb-3">
                    <input id="inputNameEditModal"
                           placeholder="Имя"
                           class="form-control">
                    <label for="inputNameEditModal">Новое имя пользователя</label>
                </div>


                <div class="form-floating mb-3">
                    <input id="inputPasswordEditModal"
                           placeholder="Пароль"
                           type="password"
                           class="form-control">
                    <label for="inputPasswordEditModal">Новый пароль пользователя</label>
                </div>


                <div class="card" style="padding: 10px; width: 20rem;">
                    <div class="card-header" style="color: #aeff6d; font-size: 20px">
                        Выбор пола
                    </div>

                    <div class="card-body" style="margin: 5px; padding: 5px">
                        <div class="form-check">
                            <label class="form-check-label" for="radioMaleEditModal">
                                Мужской
                            </label>
                            <input class="form-check-input" type="radio" name="gender" id="radioMaleEditModal"
                                   value="Мужской">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="radioFemaleEditModal">
                                Женский
                            </label>
                            <input class="form-check-input" type="radio" name="gender" id="radioFemaleEditModal"
                                   value="Женский">
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-floating mb-3">
                    <input class="form-control"
                           id="inputAgeEditModal"
                           type="number"
                           placeholder="Возраст">
                    <label for="inputAgeEditModal">Новый возраст пользователя</label>
                </div>


                <div class="form-floating mb-3">
                    <div class="mb-3">
                        <label for="inputEmailEditModal" class="form-label">Новый адрес электронной почты</label>
                        <input type="email" class="form-control" id="inputEmailEditModal"
                               placeholder="name@example.com">
                    </div>
                </div>
                <br>

                <div class="card mb-3">
                    <div class="card-header">
                        Выбор роли
                    </div>
                    <div class="card-body">
                        <div class="form-check">
                            <label class="form-check-label d-block my-2" th:each="role: ${roles}">
                                <input class="form-check-input"
                                       type="checkbox"
                                       th:id="'checkboxEditModal' + ${role.getRoleName()}"
                                       th:value="${role.getId()}"
                                       name="checkBoxRoleEditModal">
                                <span th:text="${role.getRoleName()}"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">Закрыть
                </button>
                <button type="button"
                        class="btn btn-outline-warning bi-pencil-square"
                        onclick="editUser()">
                    Редактировать
                </button>
            </div>
        </div>
    </div>
</div>
<!--Модальное окно удаления-->
<div class="modal fade" id="deleteModal"
     tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5 bi-trash3"
                    id="deleteModalLabel"> Удаление пользователя</h1>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>

            <div class="modal-body mx-auto">

                <input class="form-control"
                       id="inputIdDeleteModal"
                       type="number"
                       hidden>
                <label for="inputIdDeleteModal"></label>

                <div class="mb-3 text-center">
                    <label for="spanNameDeleteModal" class="form-label">Имя удаляемого пользователя</label>
                    <span id="spanNameDeleteModal" class="form-control" style="width: 400px; text-align: left;"></span>
                </div>

                <div class="mb-3 text-center">
                    <label for="spanGenderDeleteModal" class="form-label">Пол удаляемого пользователя</label>
                    <span id="spanGenderDeleteModal" class="form-control" style="text-align: left;"></span>
                </div>

                <div class="mb-3 text-center">
                    <label for="spanAgeDeleteModal" class="form-label">Возраст удаляемого пользователя</label>
                    <span id="spanAgeDeleteModal" class="form-control" style="text-align: left;"></span>
                </div>

                <div class="mb-3 text-center">
                    <label for="spanEmailDeleteModal" class="form-label">Электронная почта удаляемого
                        пользователя</label>
                    <span id="spanEmailDeleteModal" class="form-control" style="text-align: left;"></span>
                </div>

                <div class="mb-3 text-center">
                    <label for="spanRolesDeleteModal" class="form-label">Роли удаляемого пользователя</label>
                    <span id="spanRolesDeleteModal" class="form-control"
                          style="text-align: left; white-space: pre-line;"></span>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">Закрыть
                </button>
                <button type="button"
                        class="btn btn-outline-danger bi-trash3"
                        onclick="deleteUser()">
                    Удалить
                </button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row p-1">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3 col-md-3 justify-content-start" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <button th:each="role : ${currentUser.getUser().getRoles()}"
                        th:if="${role.getRoleName() == 'ROLE_ADMIN'}" class="nav-link active" id="v-pills-home-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">Главная
                </button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">Профиль
                </button>
            </div>
            <div class="tab-content col-md-8 justify-content-start" id="v-pills-tabContent">
                <!--Главная-->
                <div th:each="role : ${currentUser.getUser().getRoles()}" th:if="${role.getRoleName() == 'ROLE_ADMIN'}"
                     class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab" tabindex="0">
                    <h1>Панель администратора</h1>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true">Таблица пользователей
                            </button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                    aria-selected="false">Создать пользователя
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!--Таблица пользователей-->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab" tabindex="0">
                            <div class="card">
                                <div class="card-header">Все пользователи</div>
                                <div class="card-body">
                                    <table id="tableOfUsers"
                                           class="table table-hover table-sm caption-top border-info text-center">
                                        <thead>
                                        <tr>
                                            <th scope="col">id пользователя</th>
                                            <th scope="col">Имя</th>
                                            <th scope="col">Пол</th>
                                            <th scope="col">Возраст</th>
                                            <th scope="col">Электронная почта</th>
                                            <th scope="col">Роли пользователя</th>
                                            <th scope="col">Редактировать</th>
                                            <th scope="col">Удалить</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${listOfUsers}">
                                            <td th:text="${user.getId()}"></td>
                                            <td th:text="${user.getName()}"></td>
                                            <td th:text="${user.getGender()}"></td>
                                            <td th:text="${user.getAge()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td th:text="${user.getStringRoles()}"></td>
                                            <td>
                                                <button type="button"
                                                        class="btn btn-outline-warning bi-pencil-square"
                                                        th:attr="data-user-id=${user.getId()}"
                                                        onclick="showEditModal(this.getAttribute('data-user-id'))"></button>
                                            </td>
                                            <td>
                                                <button type="button"
                                                        class="btn btn-outline-danger bi-trash3"
                                                        th:attr="data-user-id=${user.getId()}"
                                                        onclick="showDeleteModal(this.getAttribute('data-user-id'))">
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--Создание пользователя-->
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                             tabindex="0">

                            <div class="card">

                                <div class="card-header">Добавить нового пользователя</div>

                                <div class="card-body mx-auto" style="margin: 10px; padding: 10px">
                                    <input class="form-control"
                                           id="inputIdNewUser"
                                           type="number"
                                           hidden>
                                    <label for="inputIdNewUser"></label>


                                    <div class="form-floating mb-3">
                                        <input id="inputNameNewUser"
                                               placeholder="Имя"
                                               class="form-control">
                                        <label for="inputNameNewUser">Имя нового пользователя</label>
                                    </div>


                                    <div class="form-floating mb-3">
                                        <input id="inputPasswordNewUser"
                                               placeholder="Пароль"
                                               type="password"
                                               class="form-control">
                                        <label for="inputPasswordNewUser">Пароль нового пользователя</label>
                                    </div>


                                    <div class="card" style="padding: 10px; width: 20rem;">
                                        <div class="card-header" style="color: #aeff6d; font-size: 20px">
                                            Выбор пола нового пользователя
                                        </div>

                                        <div class="card-body" style="margin: 5px; padding: 5px">
                                            <div class="form-check">
                                                <label class="form-check-label" for="radioMaleNewUser">
                                                    Мужской
                                                </label>
                                                <input class="form-check-input" type="radio" name="gender"
                                                       id="radioMaleNewUser"
                                                       value="Мужской">
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label" for="radioFemaleNewUser">
                                                    Женский
                                                </label>
                                                <input class="form-check-input" type="radio" name="gender"
                                                       id="radioFemaleNewUser"
                                                       value="Женский">
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-floating mb-3">
                                        <input class="form-control"
                                               id="inputAgeNewUser"
                                               type="number"
                                               placeholder="Возраст">
                                        <label for="inputAgeNewUser">Возраст нового пользователя</label>
                                    </div>


                                    <div class="form-floating mb-3">
                                        <div class="mb-3">
                                            <label for="inputEmailNewUser" class="form-label">Адрес электронной почты
                                                нового пользователя</label>
                                            <input type="email" class="form-control" id="inputEmailNewUser"
                                                   placeholder="name@example.com">
                                        </div>
                                    </div>
                                    <br>

                                    <div class="card mb-3">
                                        <div class="card-header">
                                            Выбор роли нового пользователя
                                        </div>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <label class="form-check-label d-block my-2" th:each="role: ${roles}">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           th:id="'checkboxNewUser' + ${role.getRoleName()}"
                                                           th:value="${role.getId()}"
                                                           name="checkBoxRoleNewUser">
                                                    <span th:text="${role.getRoleName()}"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container d-flex justify-content-center">
                                        <button class=" btn btn-outline-success bi-database-add" type="button"
                                                onclick="createUser()"> Добавить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Профиль-->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
                     tabindex="0">
                    <h1>О пользователе</h1>
                    <div class="card">
                        <div class="card-header">О пользователе</div>
                        <div class="card-body">
                            <table id="tableOfCurrentUser"
                                   class="table table-hover table-sm caption-top border-info text-center">
                                <thead>
                                <tr>
                                    <th scope="col">id пользователя</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Пол</th>
                                    <th scope="col">Возраст</th>
                                    <th scope="col">Электронная почта</th>
                                    <th scope="col">Роли пользователя</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${currentUser.getUser().getId()}"></td>
                                    <td th:text="${currentUser.getUser().getName()}"></td>
                                    <td th:text="${currentUser.getUser().getGender()}"></td>
                                    <td th:text="${currentUser.getUser().getAge()}"></td>
                                    <td th:text="${currentUser.getUser().getEmail()}"></td>
                                    <td th:text="${currentUser.getUser().getStringRoles()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/bootstrap.bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/adminsScripts.js"></script>

</body>
</html>