<!DOCTYPE html>
<html data-bs-theme="dark" lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">


    <title>Пользователи</title>
</head>
<body>
<div th:replace="other/navbar.html"></div>


<div class="container d-flex justify-content-center align-items-center">
    <div class="row p-3">
        <div class="card" style="width: 70rem;">
            <div class="card-header  bi-people" style="color: #aeff6d; font-size: 40px"> Карточка пользователей</div>
            <div class="card-body">
                <table class="table table-hover table-sm caption-top border-info text-center">
                    <caption>Пользователи</caption>
                    <thead>
                    <tr>
                        <th scope="col">id пользователя</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Пол</th>
                        <th scope="col">Возраст</th>
                        <th scope="col">Электронная почта</th>
                        <th scope="col">Роли пользователя</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${listOfUsers}">
                        <td th:text="${user.getId()}"></td>
                        <td th:text="${user.getName()}"></td>
                        <td th:text="${user.getGender()}"></td>
                        <td th:text="${user.getAge()}"></td>
                        <td th:text="${user.getEmail()}"></td>
                        <td th:text="${user.getStringRoles()}"></td>
                        <td>
                            <form class="mb-2" th:action="@{/admin/edit_user}" th:method="GET">
                                <input type="hidden" name="id" th:value="${user.getId()}">
                                <button class="btn btn-outline-warning bi-pencil-square" type="submit">
                                </button>
                            </form>
                        </td>
                        <td>
                            <form class="mb-2" th:action="@{/admin/delete_user}" th:method="DELETE">
                                <input type="hidden" name="id" th:value="${user.getId()}">
                                <button class="btn btn-outline-danger bi-trash3" type="submit">
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <hr>

            </div>
        </div>
    </div>
</div>


<script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>