<!DOCTYPE html>
<html data-bs-theme="dark" lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">


    <title>Регистрация нового пользователя</title>
</head>
<body>
<div th:replace="~{navbar.html}"></div>

<div class="container d-flex justify-content-center align-items-center">
    <div class="row p-3">
        <form style="margin-bottom: 5px;" th:action="@{/users}" th:method="GET">
            <button class="btn btn-outline-success bi-arrow-left-square" type="submit"> Назад</button>
        </form>

        <form class="card" style="margin: 10px; padding: 10px; width: 40rem;" th:action="@{/users/new_user}"
              th:method="POST"
              th:object="${user}">

            <div class="card-header bi-database-add" style="color: #aeff6d; font-size: 30px">
                Регистрация нового пользователя
            </div>

            <div class="card-body " style="margin: 10px; padding: 10px">
                <div class="form-floating mb-3">
                    <input id="InputName"
                           placeholder="Имя"
                           th:class="${#fields.hasErrors('name')}? 'class= form-control is-invalid' : 'class= form-control'"
                           th:field="*{name}">
                    <label for="InputName" th:if="${!#fields.hasErrors('name')}">Имя нового пользователя</label>
                    <label for="InputName" th:errors="*{name}"
                           th:if="${#fields.hasErrors('name')}"></label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control"
                           id="inputLast_name"
                           placeholder="Отчество"
                           th:class="${#fields.hasErrors('last_name')}? 'class= form-control is-invalid' : 'class= form-control'"
                           th:field="*{last_name}">
                    <label for="inputLast_name" th:if="${!#fields.hasErrors('last_name')}">Отчество нового
                        пользователя</label>
                    <label for="inputLast_name" th:errors="*{last_name}"
                           th:if="${#fields.hasErrors('last_name')}"></label>
                </div>

                <div class="card" style="padding: 10px; width: 20rem;">
                    <div class="card-header" style="color: #aeff6d; font-size: 20px">
                        Выбор пола
                    </div>

                    <div class="card-body" style="margin: 5px; padding: 5px">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="male" th:value="'Мужской'"
                                   th:field="*{gender}">
                            <label class="form-check-label" for="male">
                                Мужской
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="female" th:value="'Женский'"
                                   th:field="*{gender}">
                            <label class="form-check-label" for="female">
                                Женский
                            </label>
                        </div>
                    </div>

                    <div th:if="${#fields.hasErrors('gender')}"
                         style="font-size: 14px; margin-top: 5px; border: 1px solid #e8858e; padding: 5px; border-radius: 5px;">
                        Необходимо выбрать пол!
                    </div>

                </div>
                <br>

                <div class="form-floating mb-3">
                    <input class="form-control"
                           id="inputAge"
                           type="number"
                           placeholder="Возраст"
                           th:class="${#fields.hasErrors('age')}? 'class= form-control is-invalid' : 'class= form-control'"
                           th:field="*{age}">
                    <label for="inputAge" th:if="${!#fields.hasErrors('age')}">Возраст нового пользователя</label>
                    <label for="inputAge" th:errors="*{age}" th:if="${#fields.hasErrors('age')}"></label>
                </div>


                <div class="form-floating mb-3">
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Адрес электронной почты</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com"
                               th:field="*{email}">
                    </div>
                </div>
                <br>
                <hr>

                <div class="container d-flex justify-content-end align-items-center">
                    <button class=" btn btn-outline-success bi-database-add" type="submit"> Добавить нового пользователя
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>